<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Book List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    {% for book in books %}
    <h1>{{book.title}}</h1>
    <h2>{{book.author}}</h2>
    <h3>{{book.content}}</h3>
    <h3>{{book.rating}}</h3>
    <img src="{{book.thumbnail_url}}" alt="">
    {% endfor %}
    <hr>

    
</body>
</html>